.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navSection{
  border:1px solid black;
  background-color:  rgb(221, 165, 11);
  color: white;
  display: flex;
  justify-content: space-evenly;
  position:fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
}
.navSection ul li{
  display: inline;
  list-style: none;
  margin: 20px;
  font-size: 2rem;
}
body{
  background-color: #61fbfb;
  text-align: center;
}

.signoutitem{
  margin-left: auto;
  cursor: pointer;
  align-items: right;
}

.navSection{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(221,165,11);
    padding: 10px 20px;
}

.navCenter{
    flex: 1;
    text-align: center;
}

.navRight{
    margin-left: auto;
}